* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header {
  display: flex;
}

.navbar {
  display: flex;
}

main {
  display: flex;

  justify-content: center;
  margin-bottom: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.product > p {
  padding: 10px;
}

.social {
  display: flex;
  justify-content: space-evenly;

  background-color: white;
  list-style: none;

  margin: 0;
  padding: 0;
}

/* CELL PHONE SECTION */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    justify-content: right;

    color: white;
    background-color: gray;
  }

  .navbar > ul {
    display: none;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .product > i, .product > h2 {
    max-width: max-content;
  }

  .product {
    max-width: 90%;
  }

  .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
}

/* TABLET SECTION */
@media (min-width : 601px) and (max-width : 990px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header > .logo {
    flex-grow: 1;
  
    display: inline-block;
  }
  
  header > .logo > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  header > h1 {
    flex-grow: 1.5;
  }
  
  .navbar {
    justify-content: right;
  
    color: white;
    background-color: gray;
  }
  
  .navbar > ul {
    display: none;
  }

  main {
    flex-direction: column;
    align-items: center;
  }
  
  .product > i, .product > h2 {
    max-width: max-content;
  }

  .product {
    padding-top: 10px;
    max-width: 90%;
  }
}

/* PC SECTION */
@media (min-width : 991px) {
  header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  header > .logo {
    flex-grow: 1;
  
    display: inline-block;
  }
  
  header > .logo > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  header > h1 {
    flex-grow: 1.5;
  }
    
  .navbar {
    justify-content: right;
  
    color: white;
    background-color: gray;
  }
  
  .navbar > ul {
    display: flex;
  
    justify-content: space-evenly;
    width: 30%;
    list-style: none;
  }
  
  .navbar > .hamburger {
    display: none;
  }
  
  .product {
    width: 30%;
  }

  main {
    justify-content: space-evenly;
    padding-top: 10px;
  }
}